.command {
  &__subtitle {
    @include flex-align-center(7);
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    margin: 0 25px 25px;

    img {
      transform: translateY(-7px);
    }
  }

  &__items {
    margin: 0 auto;
    max-width: 540px;
    @include r($desktop) {
      max-width: 480px;
    }
    @include r($tablet) {
      max-width: 440px;
    }
  }

  &__item {
    overflow: hidden;
    border-radius: 28px;
    background-color: $white;
    border: 1px solid #CDCFD6;
    @include r($desktop) {
      border-radius: 22px;
    }
    @include r($tablet) {
      border-radius: 18px;
    }
    @include r($phone) {
      border-radius: 16px;
    }
  }

  &__head {
    position: relative;

    &::before {
      @include pseudo;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(182deg, rgba(255, 255, 255, 0.00) 39.51%, #FFF 84.58%);
      @include r($lg) {
        background: linear-gradient(182deg, rgba(255, 255, 255, 0.00) 39.51%, #FFF 90.58%);
      }
    }

    &::after {
      @include pseudo;
      top: -30%;
      left: -28%;
      width: 318px;
      height: 318px;
      border-radius: 50%;
      background: rgba(82, 135, 222, 0.46);
      filter: blur(95px);
      @include r($desktop) {
        width: 290px;
        height: 290px;
      }
      @include r($lg) {
        width: 280px;
        height: 280px;
      }
      @media (max-width: 900px) {
        left: -36%;
      }
      @include r($tablet) {
        width: 260px;
        height: 260px;
      }
      @include r($phone) {
        display: none;
      }
    }

    img {
      @include objectCoverBg;
      object-position: top;
      @include r($desktop) {
        height: 460px;
      }
      @include r($lg) {
        height: 430px;
      }
      @include r($tablet) {
        height: 410px;
      }
      @media (max-width: 400px) {
        height: 370px;
      }
    }
  }

  &__info {
    padding: 0 30px 30px;
    margin-top: -50px;
    position: relative;
    z-index: 5;
    @media (max-width: 1300px) {
      padding: 0 23px 25px;
    }
    @include r($lg) {
      padding: 0 20px 25px;
    }
    @include r($tablet) {
      padding: 0 17px 25px;
    }
  }

  &__name {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.64px;
    margin-bottom: 24px;
    @media (max-width: 1300px) {
      font-size: 28px;
    }
    @include r($desktop) {
      font-size: 26px;
    }
    @include r($lg) {
      font-size: 24px;
    }
    @media (max-width: 430px) {
      font-size: 22px;
    }
  }

  &__text {
    @include flex-align-center(8);
    align-items: flex-start;
    color: $steel-gray;
    font-size: 22px;
    letter-spacing: -0.44px;
    margin-bottom: 17px;
    @media (max-width: 1300px) {
      font-size: 20px;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
      line-height: 1.3;
    }
    @include r($tablet) {
      font-size: 16px;
    }

    img {
      transform: translateY(-2px);
    }
  }

  &__exp {
    @include flex-align-center(10);
    font-size: 22px;
    color: #8F95AA;
    position: relative;
    @media (max-width: 1300px) {
      font-size: 20px;

      img {
        width: 25px;
        height: 25px;
      }
    }
    @include r($desktop) {
      font-size: 18px;
    }
    @include r($tablet) {
      font-size: 16px;
    }
    @include r($sm) {
      font-size: 14px;
      img {
        width: 22px;
        height: 22px;
      }
    }

    span {
      color: #23262B;
      margin-left: -5px;
    }
  }
}