.contacts {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    @include r($tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    padding: 40px 35px;
    background-color: $white;
    border-radius: 28px;
    border: 1px solid #CDCFD6;
    @include r($desktop) {
      border-radius: 22px;
      padding: 35px 30px;
    }
    @include r($lg) {
      padding: 30px 25px;
    }
    @include r($tablet) {
      border-radius: 18px;
    }
    @include r($sm) {
      padding: 30px 20px;
    }
    @include r($phone) {
      border-radius: 16px;
    }
  }

  &__info {
    @include flex-column(28);

    &-item {
      @include flex-column(14);
    }
  }

  &__inscription {
    font-size: 20px;
    letter-spacing: -0.44px;
    color: $steel-gray;
    @media (max-width: 860px) {
      font-size: 18px;
    }
    @include r($phone) {
      font-size: 16px;
    }
  }

  &__links {
    @include flex-column(6);
  }

  &__link {
    font-size: 44px;
    display: flex;
    max-width: max-content;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: color .4s, border .4s;
    @media (max-width: 1300px) {
      font-size: 40px;
    }
    @include r($desktop) {
      font-size: 38px;
    }
    @media (max-width: 1100px) {
      font-size: 36px;
    }
    @include r($lg) {
      font-size: 32px;
    }
    @media (max-width: 860px) {
      font-size: 28px;
    }
    @include r($tablet) {
      font-size: 26px;
    }
    @media (max-width: 540px) {
      font-size: 24px;
    }
    @include r($phone) {
      font-size: 22px;
    }
    @media (max-width: 375px) {
      font-size: 20px;
    }

    &:hover {
      color: $accent;
    }

    &:focus {
      color: $accent;
      border-bottom-color: $accent;
    }
  }

  &__socials {
    @include flex-align-center(14);

    &-link {
      @include flex-center;
      width: 52px;
      height: 52px;
      border-radius: 8px;
      background-color: rgba($deep-navy, .15);
      border: 1px solid transparent;
      transition: background-color .4s, border .4s;
      @media (max-width: 530px) {
        width: 47px;
        height: 47px;
        svg {
          width: auto;
          height: 25px;
        }
      }

      &:hover {
        background-color: transparent;
        border-color: $deep-navy;

        svg path {
          fill: $deep-navy;
        }
      }

      &:focus {
        background-color: $deep-navy;

        svg path {
          fill: $white;
        }
      }
    }
  }

  &__subtitle {
    font-size: 30px;
    margin-bottom: 28px;
    font-weight: 500;
    letter-spacing: -0.64px;
    @include r($desktop) {
      font-size: 28px;
    }
    @include r($lg) {
      font-size: 26px;
      margin-bottom: 24px;
    }
    @media (max-width: 860px) {
      font-size: 24px;
    }
    @include r($sm) {
      font-size: 22px;
    }
    @include r($phone) {
      margin-bottom: 20px;
      letter-spacing: 0;
      font-size: 21px;
    }
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }

  &__btn {
    font-size: 19px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    padding: 15px 25px;
    margin-bottom: 20px;
    @include r($desktop) {
      font-size: 18px;
    }
    @include r($lg) {
      font-size: 16px;
    }
    @include r($phone) {
      font-size: 14px;
    }
  }

  &__agree {
    @include flex-align-center(8);
    color: $steel-gray;
    @include r($desktop) {
      font-size: 16px;
      svg {
        width: 22px;
        height: 22px;
      }
    }
    @include r($sm) {
      font-size: 14px;
    }

    svg {
      transform: translateY(-1px);
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 500;
    max-width: 505px;
    @include r($desktop) {
      font-size: 20px;
    }
    @media (max-width: 530px) {
      font-size: 18px;
    }
    @include r($phone) {
      line-height: 1.3;
      font-size: 17px;
    }
    @media (max-width: 375px) {
      font-size: 16px;
    }
  }

  &__map {
    overflow: hidden;
    border-radius: 28px;
    @include r($desktop) {
      border-radius: 22px;
    }
    @include r($lg) {
      height: 310px;
    }
    @include r($tablet) {
      border-radius: 18px;
    }
    @include r($sm) {
      height: 290px;
    }
    @include r($phone) {
      border-radius: 16px;
    }

    iframe {
      border: none;
      height: 340px;
      width: 100%;
    }
  }
}