.services {
  &__list {
    @include flex-column(28);
    @include r($lg) {
      gap: 22px;
    }
    @include r($tablet) {
      gap: 20px;
    }
  }

  &__item {
    padding: 33px 30px;
    border-radius: 28px;
    background-color: $white;
    border: 1px solid #CDCFD6;
    @include r($desktop) {
      border-radius: 22px;
    }
    @media (max-width: 1060px) {
      padding: 30px 25px;
    }
    @include r($tablet) {
      border-radius: 18px;
      padding: 28px 20px 24px;
    }
    @include r($sm) {
      padding: 23px 18px;
    }
    @include r($phone) {
      border-radius: 16px;
      padding: 22px 16px;
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    transition: max-height 0.6s ease-out, opacity 0.8s ease-out;
    opacity: 0;

    &--active {
      max-height: 1000px;
      opacity: 1;
      user-select: auto;
      pointer-events: auto;
    }
  }

  &__btn {
    @include flex-align-center(13);
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 1px 0;
    text-align: left;
    transition: color .4s, border .4s;
    @media (max-width: 1300px) {
      svg {
        width: auto;
        height: 35px;
      }
    }
    @media (max-width: 1100px) {
      font-size: 22px;
      img {
        width: 30px;
        height: 30px;
      }

      svg {
        height: 32px;
      }
    }
    @include r($lg) {
      img {
        width: 27px;
        height: 27px;
      }

      svg {
        height: 29px;
      }
    }
    @include r($tablet) {
      gap: 12px;
      font-size: 20px;

      img {
        width: 25px;
        height: 25px;
      }

      svg {
        height: 27px;
      }
    }
    @include r($phone) {
      line-height: 1.3;
      font-size: 18px;
      img {
        width: 23px;
        height: 23px;
      }

      svg {
        height: 23px;
      }
    }
    @media (max-width: 385px) {
      font-size: 17px;
    }

    &:hover {
      color: $accent;

      svg path {
        fill: $accent;
      }
    }

    &:focus {
      border-color: $accent;
      color: $accent;

      svg path {
        fill: $accent;
      }
    }

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      margin-left: auto;
    }
  }

  &__items {
    @include flex-column(2);
    margin: 36px 0;
    @include r($tablet) {
      margin: 27px 0;
    }
  }

  &__items li {
    @include flex-align-center(15);
    align-items: flex-start;
    padding-left: 14px;
    font-size: 24px;
    color: $steel-gray;
    position: relative;
    @media (max-width: 1300px) {
      font-size: 22px;
    }
    @media (max-width: 1100px) {
      font-size: 20px;
      line-height: 1.3;
    }
    @media (max-width: 920px) {
      padding-left: 12px;
      font-size: 18px;
    }
    @include r($sm) {
      font-size: 16px;
    }
    @media (max-width: 420px) {
      font-size: 14px;
    }

    &::before {
      content: "";
      flex-shrink: 0;
      margin-top: 9px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $steel-gray;
      @include r($sm) {
        width: 5px;
        height: 5px;
      }
    }
  }

  &__process, &__right {
    @include flex-align-center(24);
    @media (max-width: 900px) {
      align-items: flex-start;
    }
    @include r($phone) {
      align-items: stretch;
    }
  }

  &__process {
    @include flex-between-center-gap(30);

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
    @include r($sm) {
      gap: 25px;
    }
    @include r($phone) {
      gap: 20px;
    }
  }

  &__right {
    gap: 30px;
    @media (max-width: 660px) {
      flex-direction: column;
      gap: 20px;
    }
    @include r($phone) {
      align-items: center;
      gap: 15px;
    }
  }

  &__info {
    @include flex-align-center(8);
    color: $steel-gray;
    font-size: 22px;
    @media (max-width: 1300px) {
      font-size: 20px;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 920px) {
      font-size: 17px;
      img {
        width: auto;
        height: 24px;
      }
    }
    @include r($tablet) {
      font-size: 16px;
    }
    @include r($phone) {
      font-size: 14px;
      img {
        height: 21px;
      }
    }

    span {
      font-weight: 500;
      color: #23262B;
      margin-left: -3px;
    }
  }

  &__link {
    margin-right: auto;
    font-size: 18px;
    padding: 18px 30px;
    @media (max-width: 920px) {
      font-size: 16px;
    }
    @media (max-width: 800px) {
      margin-right: 0;
    }
    @include r($sm) {
      width: 100%;
      max-width: 100%;
    }
    @include r($phone) {
      font-size: 15px;
    }
  }
}